.navbar__top {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  min-width: 1024px;
  z-index: 9997;
  color: green;
  display: flex;
}
.navbar__content {
  padding-left: 20em;
  padding-right: 2em;
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
}

.navbar__background {
  position: absolute;
  color: green;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: rgba(255, 255, 255, 0.9) 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition-property: rgba(255, 255, 255, 0.9);
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.28, 0.11, 0.32, 1);
  transition-delay: 0s;
  backdrop-filter: saturate(180%) blur(20px);
  background: #000 !important;
}

.navbar__titlte {
  font-size: 21px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.011em;
  font-family: "SF pro display", "Helvetica", "Arial", sans-serif;
  cursor: default;
  display: block;
  float: left;
  margin: 14px 0 -14px;
  padding: 0;
  height: 52px;
  white-space: nowrap;
}

.navbar__title a {
  display: flex;
  flex-direction: column-reverse;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  opacity: 0.88;
  transition: black 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

.navbar__logo {
  display: inline-block;
  margin: 0 0.5em 0.2em 0;
  width: 126px;
  height: 23px;
  vertical-align: middle;
  padding-left: 10em;
}

.navbar__menu {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: sans-serif;
  padding-left: 80em;
  margin-top: -4em;
  z-index: 10;
}

.menu__item {
  margin-right: 30px;
  /* display: none; */
  text-decoration: none;
  /* position: absolute; */
  /* top: 0;
  left: 0;
  width: 1px;
  height: 1px; */
  color: grey;
}

.menu__item__second {
  margin-right: 10px;
  text-decoration: none;
  white-space: nowrap;

  /* top: 0; */
  /* left: 0; */
  /* width: 1px; */
  /* height: 1px; */
  /* z-index: 10; */
  color: white;
}
